$color-bright-orange: hsl(31, 77%, 52%);
$color-dark-cyan: hsl(184, 100%, 22%);
$color-very-dark-cyan: hsl(179, 100%, 13%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-components: hsl(0, 0%, 95%); 

$font-size-body: 15px;
$font-sans-serif: 'Lexend Deca', sans-serif;
$font-cursive: 'Big Shoulders Display', cursive;
