$color-bright-orange: hsl(31, 77%, 52%);
$color-dark-cyan: hsl(184, 100%, 22%);
$color-very-dark-cyan: hsl(179, 100%, 13%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-components: hsl(0, 0%, 95%); 

$font-size-body: 15px;
$font-sans-serif: 'Lexend Deca', sans-serif;
$font-cursive: 'Big Shoulders Display', cursive;


@mixin theme($color) {
    background-color: $color;

    .card__link {
        color: $color;
    }

    .card__link:hover {
        background-color: $color;
        color: $color-components;
        border: 2px solid $color-components;
    }
}

%text {
    font-family: $font-sans-serif;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-body;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto 0rem auto;
    max-width: 343px;
}

.attribution {
    margin: 2.5rem 0;
}

.card {
    padding: 3rem;

    &__title {
        font-family: $font-cursive;
        text-transform: uppercase;
        font-size: 3rem;
        margin: 1.5rem 0;
        color: $color-components;
    }

    &__text {
        @extend %text;
        color: $color-paragraph;
    }

    &__link {
        font-family: $font-sans-serif;
        background-color: $color-components;
        text-decoration: none;
        margin-top: 2rem;
        padding: 1rem 2rem;
        text-align: center;
        display: inline-block;
        border-radius: 30px;
        border: 2px solid transparent;
        
        $transition-timing: 0.25s;
        $transition-function: ease-in-out;
        transition: background-color $transition-timing $transition-function,
                    color $transition-timing $transition-function,
                    border $transition-timing $transition-function;
    }
}

.attribution {
    @extend %text;
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
  }

#sedans {
    @include theme($color-bright-orange);
    border-radius: 5px 5px 0 0;
}

#suvs {
    @include theme($color-dark-cyan);
}

#luxury {
    @include theme($color-very-dark-cyan);
    border-radius: 0 0 5px 5px;
}

@media (min-width: 1023px) {
    .container {
        max-width: 1024px;
        flex-direction: row;
        align-items: normal;
        margin-top: 12rem;
    }

    .card {
        &__text {
            padding-right: 1.5rem;
        }

        &__link {
            margin-top: 6rem;
        }
    }

    #sedans {
        border-radius: 5px 0 0 5px;
    }

    #luxury {
        border-radius: 0 5px 5px 0;
    }
}
    